@import url("@css/_variables");

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  overflow: hidden;
  color: var(--teal-500);
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 2em;
  outline: none;
}

.button:hover {
  background-color: var(--teal-50);
}

.button:focus-visible {
  background-color: var(--teal-50);
  box-shadow: 0 0 0 2px var(--teal-500);
  transition: all 0.2s;
}

.svg-button {
  width: 25px;
  height: 25px;
  fill: var(--teal-500);
}

.text-button {
  font-size: 1rem;
  text-transform: uppercase;
}

.input-file-modal__close-button {
  position: absolute;
  top: 3%;
  right: 3%;
}
