@import url("@css/_variables");

.button {
  position: relative;
  padding: 0.35rem;
  overflow: hidden;
  color: var(--teal-500);
  background-color: transparent;
  border: none;
  border-radius: 7px;
  outline: none;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: var(--teal-50);
}

.svg-button {
  width: 25px;
  height: 25px;
  fill: var(--teal-500);
}

.text-button {
  font-size: 1rem;
  text-transform: uppercase;
}

.input-file-modal__close-button {
  position: absolute;
  top: 3%;
  right: 3%;
}
