@import url("./_variables.css");
@import url("./contact-list/contact-list.css");

* {
  box-sizing: border-box;
}

html,
body,
#root,
.current-dialog {
  height: 100vh;
}

#root {
  display: grid;
  grid-template: "dialogs" "current-dialog" 1fr / 1fr 2fr;
  min-width: 1024px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--teal-200);
}
