@import url('./_utils.css');
@import url('./_variables.css');
@import url('./button/button.css');
@import url('./send-message-form/send-message-form.css');
@import url('./send-message-form/input-file-modal.css');
@import url('./contact-list/contact-list.css');
@import url('./current-dialog/current-dialog.css');

* {
  box-sizing: border-box;
}

html,
body,
.current-dialog {
  height: 100vh;
}

body {
  display: grid;
  grid-template: 'dialogs' 'current-dialog' 1fr / 1fr 2fr;
  min-width: 1024px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--teal-200);
}
