.navigation {
  display: grid;
  grid-template-rows: 1fr 11fr;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.navigationWrapper {
  display: grid;
  grid-template-rows: 1fr 11fr;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.navigationHeaderWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: stretch;
  padding: 0 12px;
}

.mainMenuButton__icon {
  fill: var(--teal-500);
}

.search {
  display: flex;
  flex-grow: 1;
}

.search input {
  flex-grow: 1;
  padding: 0.5em 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: var(--primary-text);
  background-color: var(--grey-200);
  border: none;
  border-radius: 2em;
  outline: none;
  transition: all 0.3s;
}

.search input:hover,
.search input:focus,
.search input:active {
  background-color: var(--bg-color);
  box-shadow: 0 0 0 2px var(--teal-500);
}

ul {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  background-color: transparent;
}

li {
  list-style-type: none;
}

li:hover {
  background-color: var(--teal-50);
}
