<div class="modal-overlay hidden" aria-hidden="true" tabindex="-1">
  <section class="input-file-modal" role="dialog" aria-label="окно загрузки файлов">
    <section class="input-file-modal__attachments attachments" aria-label="прикрепленные файлы">

      <section class="attachments__attachment attachment" aria-label="Прикрепленный файл" tabindex="0">
        <div class="attachment__file-icon-and-name">
          <span class="attachment__pic material-icons" aria-hidden="true"> insert_drive_file </span>
          <p class="attachment__name"> file1.txt </p>
        </div>
        <div class="attachment__file-buttons">
          <button class="attachment__edit-button button material-icons" aria-label="Редактировать файл">
            edit
          </button>
          <button class="attachment__delete-button button material-icons" aria-label="Открепить файл">
            delete
          </button>
        </div>
      </section>

      <section class="attachments__attachment attachment" aria-label="Прикрепленный файл" tabindex="0">
        <div class="attachment__file-icon-and-name">
          <span class="attachment__pic material-icons" aria-hidden="true"> insert_drive_file </span>
          <p class="attachment__name"> file2.txt </p>
        </div>
        <div class="attachment__file-buttons">
          <button class="attachment__edit-button button material-icons" aria-label="Редактировать файл">
            edit
          </button>
          <button class="attachment__delete-button button material-icons" aria-label="Открепить файл">
            delete
          </button>
        </div>
      </section>

      <section class="attachments__attachment attachment" aria-label="Прикрепленный файл" tabindex="0">
        <div class="attachment__file-icon-and-name">
          <span class="attachment__pic material-icons" aria-hidden="true"> insert_drive_file </span>
          <p class="attachment__name"> file2.txt </p>
        </div>
        <div class="attachment__file-buttons">
          <button class="attachment__edit-button button material-icons" aria-label="Редактировать файл">
            edit
          </button>
          <button class="attachment__delete-button button material-icons" aria-label="Открепить файл">
            delete
          </button>
        </div>
      </section>

    </section>
    <input type="text" class="input-file-modal__input-text input-message" autocomplete="off" placeholder="Введите сообщение..." />
    <section class="input-file-modal__buttons">
      <button class="input-file-modal__button button text-button" aria-label="Добавить файл">Добавить</button>
      <div class="input-file-modal__last-two-buttons">
        <button class="input-file-modal__button cancel-button button text-button" aria-label="Отмена прикрепления файлов">
          Отменить
        </button>
        <button class="input-file-modal__button button text-button" aria-label="Отправить сообщение">
          Отправить
        </button>
      </div>
    </section>

    <button class="input-file-modal__close-button button material-icons" aria-label="закрыть окно">
      close
    </button>
  </section>
</div>
