<form class="send-message-form" aria-label="отправить сообщение">
  <input type="file" id="input-file" hidden multiple/>
  <label
    for="input-file"
    class="send-message-form__input-file-button send-message-form-button material-icons"
    aria-label="прикрепить файлы"
    role="button"
    tabindex="0"
  >
      attach_file
  </label>
  <input
    type="text"
    class="send-message-form__input-text input-message"
    autocomplete="off"
    placeholder="Введите сообщение..."
  />
  <button class="send-message-form__send-message-button material-icons send-message-form-button" aria-label="отправить сообщение">
    send
  </button>
</form>
