.second-step-create-new-chat-modal {
  display: grid;
  grid-template-rows: 1.5fr 10fr 1fr;
  grid-row-gap: 1rem;
  width: 400px;
  height: 600px;
  padding: 20px;
}

.second-step-create-new-chat-modal__head {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: space-between;
}

.second-step-create-new-chat-modal__title {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
}

.second-step-create-new-chat-modal__search-panel {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.second-step-create-new-chat-modal__search-input {
  flex-grow: 1;
}

.second-step-create-new-chat-modal__search-icon {
  width: 30px;
  height: 30px;
}

.new-chat-user-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;
  padding: 1rem;
  overflow-x: auto;
}

.new-chat-user_selected {
  background-color: var(--teal-200);
  transition: background-color 0.2s;
}

.new-chat-user_selected:hover,
.new-chat-user_selected:focus-visible {
  background-color: var(--teal-200);
}

.new-chat-user__avatar {
  width: 50px;
  border-radius: 100%;
}

.new-chat-user {
  height: auto;
  border-radius: 4px;
}

.new-chat-user__username {
  color: var(--primary-text);
}
