
.mainMenuButton__icon {
  fill: var(--teal-500);
}

.search {
  display: flex;
  flex-grow: 1;
}

.search input {
  flex-grow: 1;
  padding: 0.5em 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: var(--primary-text);
  background-color: var(--grey-200);
  border: none;
  border-radius: 2em;
  outline: none;
  transition: all 0.3s;
}

.search input:hover,
.search input:focus,
.search input:active {
  background-color: var(--bg-color);
  box-shadow: 0 0 0 2px var(--teal-500);
}

.navigation-header {
  display: flex;
  gap: 12px;
  flex-flow: column;
}

.navigation-header__first-line {
  display: flex;
  padding: 12px;
  gap: 12px
}

.header-tabs__tab {
  height: 2.5rem;
  width: 50%;
  font-size: 1rem;
}

.chats-tab_selected {
  transition: border-bottom-color 0.2s;
  background-color: var(--teal-50);
  border-bottom: var(--teal-200) 2px solid;
}
