.login-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(0deg, var(--teal-500) 0%, var(--teal-200) 100%);
}
