@import url('./_utils.css');
@import url('./_variables.css');
@import url('./send-message-form/send-message-form.css');
@import url('./send-message-form/input-file-modal.css');
@import url('./navigation/navigation.css');
@import url('./current-dialog/current-dialog.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--separator);
  border-radius: 5px;
}

:root {
  --teal-50: #e0f2f1;
  --teal-200: #80cbc4;
  --teal-500: #009688;
  --green-500: #4caf50;
  --bg-color: #fff;
  --primary-text: #050505;
  --secondary-text: #757575;
  --separator: #bdbdbd;
  --grey-200: #eee;
  --accent-text: var(--teal-500);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0;
}

html,
body,
.current-dialog {
  height: 100vh;
}

body {
  display: grid;
  grid-template: 'dialogs' 'current-dialog' 1fr / 1fr 2fr;
  min-width: 1024px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--teal-200);
  scrollbar-color: var(--separator) var(--bg-color);
  scrollbar-width: thin;
}
