.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.input-file-modal {
  position: relative;
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 300px;
  padding: 1.2rem 2rem;
  background-color: var(--bg-color);
  border-radius: 5px;
}

.input-file-modal__input-text {
  width: 100%;
  padding: 0.4rem;
  border-bottom: 1px solid var(--teal-200);
  transition: 0.3s border;
}

.input-file-modal__input-text:focus {
  border-bottom: 1px solid var(--teal-500);
}

.input-file-modal__buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-file-modal__button {
  font-size: 1.1rem;
}

.input-file-modal__last-two-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.input-file-modal__close-button {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1.8rem;
}

.attachments {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 90%;
  max-height: 150px;
  overflow: auto;
  font-size: 1rem;
}

.input-file-modal__attachments {
  margin-top: 2rem;
}

.attachment {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.attachment:hover {
  cursor: default;
}

.attachments__attachment {
  margin-bottom: 0.9rem;
}

.attachment__file-icon-and-name {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.attachment__file-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.attachment__pic {
  font-size: 2rem;
  color: var(--teal-200);
}
