.attachment {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.attachment:hover {
  cursor: default;
}

.attachments__attachment {
  margin-bottom: 0.5rem;
}

.attachment__file-icon-and-name {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.attachment__file-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 23%;
}

.attachment__pic {
  width: 30px;
  height: 30px;
  fill: var(--teal-500);
}
