@import url("@css/_variables");

.spinner_main {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  color: var(--teal-500);
  transform: translate(-50%, -50%);
}

.spinner_chat-main {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: var(--bg-color);
  transform: translate(-50%, -50%);
}
