@import url("./../../../css/_variables.css");

.button {
  position: relative;
  padding: 0.5rem;
  overflow: hidden;
  color: var(--teal-500);
  background-color: transparent;
  border: none;
  outline: none;
  transition: color 0.3s;
}

.rounded-button {
  border-radius: 2em;
}

.centred-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-button {
  fill: var(--teal-500);
}

.text-button {
  height: 2.5rem;
  padding: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 4px;
}

.button:hover {
  background-color: var(--teal-50);
}

.button:focus-visible {
  background-color: var(--teal-50);
  box-shadow: 0 0 0 2px var(--teal-500);
  transition: all 0.2s;
}

.text-button:disabled {
  color: var(--teal-100);
}

.text-button:disabled:hover {
  cursor: auto;
  background: none;
}

.input-file-modal__close-button {
  position: absolute;
  top: 3%;
  right: 3%;
}

.login-page__github-login-button {
  width: 512px;
  height: 512px;
  padding: 0;
  border-radius: 100%;
  transition: transform 0.5s;
}

.login-page__github-login-button:hover,
.login-page__github-login-button:focus {
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.1);
}

.button-with-pre-icon {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: flex-start;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 0;
}
