* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--separator);
  border-radius: 5px;
}

:root {
  --teal-50: #e0f2f1;
  --teal-200: #80cbc4;
  --teal-500: #009688;
  --green-500: #4caf50;
  --bg-color: #fff;
  --primary-text: #050505;
  --secondary-text: #757575;
  --separator: #bdbdbd;
  --grey-200: #eee;
  --accent-text: var(--teal-500);
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--teal200);
}

main {
  background: linear-gradient(0deg, var(--teal-500) 0%, var(--teal-200) 100%);
}

.contactsListWrapper {
  display: grid;
  grid-template-rows: 1fr 11fr;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.searchBarWrapper {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.search {
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  padding: 0 2em;
}

.search input {
  flex-grow: 1;
  padding: 0.5em 1em;
  font-size: 1.2em;
  color: var(--primary-text);
  background-color: var(--grey-200);
  border: none;
  border-radius: 2em;
  outline: none;
  transition: all 0.3s;
}

.search input:hover,
.search input:focus,
.search input:active {
  background-color: var(--bg-color);
  box-shadow: 0 0 0 2px var(--teal-500);
}

ul {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

li {
  list-style-type: none;
}

li:hover {
  background-color: var(--teal-50);
}

.card {
  position: relative;
  display: flex;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 12px;
  align-items: center;
  min-width: 340px;
  padding: 12px;
  background-color: var(--bg-color);
}

.card__avatar {
  position: relative;
  display: flex;
}

.avatar__border {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 3;
}

.card__avatar .badge {
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 10px;
  height: 10px;
  background: var(--green-500);
  border-radius: 50%;
}

.card__content {
  display: flex;
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr min-content min-content;
  row-gap: 9px;
  column-gap: 6px;
  align-items: center;
  justify-content: space-between;
}

.dialogHeaader,
h3 {
  overflow-x: hidden;
  font-size: 1.2em;
  color: var(--primary-text);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.messagePreview {
  grid-row: 2/3;
  grid-column: 1/3;
  align-self: center;
  overflow-x: hidden;
  color: var(--secondary-text);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.messageSender {
  color: var(--teal-500);
}

.messageStatus {
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: -2px;
  fill: var(--teal-500);
}

.messageTime {
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: end;
  color: var(--secondary-text);
}

.unreadMessageCounter {
  display: inline-block;
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: end;
  padding: 2px 10px;
  color: var(--bg-color);
  background-color: var(--teal-500);
  border-radius: 1em;
}
